.git
.gitignore
.env
.env.*
!.env.example
!.env.production.example
node_modules
apps/*/node_modules
packages/*/node_modules
apps/*/dist
packages/*/dist
npm-debug.log*
dev.err.log
dev.out.log
coverage
.DS_Store
docs/*.png
backups
